config/index.js
config/client.index.js
node_modules/
.DS_Store
.nodemonignore
.sass-cache/
.idea
.env
.vscode
views/*
static/css
static/html
static/js
server/log/*.log
dump.rdb
npm-debug.log
*.log.*
dump.rdb